[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dmitrykurdenok
[access "refs/for/refs/*"]
	read = group user/dmitrykurdenok
	push = group user/dmitrykurdenok
	label-Code-Review = -2..+2 group user/dmitrykurdenok
	label-Verified = -1..+1 group user/dmitrykurdenok
	rebase = group user/dmitrykurdenok
	removeReviewer = group user/dmitrykurdenok
	submit = group user/dmitrykurdenok
[access "refs/heads/*"]
	read = group user/dmitrykurdenok
	create = group user/dmitrykurdenok
	push = +force group user/dmitrykurdenok
	pushMerge = group user/dmitrykurdenok
[access "refs/tags/*"]
	push = +force group user/dmitrykurdenok
	pushTag = group user/dmitrykurdenok
	pushSignedTag = group user/dmitrykurdenok
